@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-palette: "orange";
  --background-color: #000000;
  --secondary-color: #000;
}

@layer components {
  div.card{
    @apply h-64 w-64 bg-primary-color rounded-2xl
  }
}

html, root, body, #app, #app>div {
  height: 100%
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
